{% extends '@Blog/Default/layout.html.twig' %}


{% block banner %}

{% endblock %}

{% block content %}
    <body class="bg-white">



    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <p>Home / Créer un compte</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="tracking_box_area section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="tracking_box_inner">
                  {#       <form class="row tracking_form" path="{{('fos_user_registration_register')}}" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="votre Email">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="nom" name="username" placeholder="votre Nom">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="mdp" name="mdp" placeholder="votre mot de passe">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="mdp2" name="mdp2" placeholder="confirmation mot de passe">
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">créer</button>
                            </div>
                        </form>#}

                    </div>
                </div>

            </div>

        </div>
    </section>




</body>







{% endblock %}